@import "styles.css";
@import "header.css";
@import "produits.css";
@import "footer.css";

/* *, *>*, *::before, *::after {
    outline: red 1px dotted;
} */

html {
    background-color: #7e9aa8;
  }
  
body {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  