/* body * {
  outline: red dotted 1px;
} */

/* Mettre le fond noir et le texte blanc */
body {
  max-width: 1280px;
  margin: auto;
}

/*-------------footer---------*/
/* Mettre le fond noir et le texte blanc */
footer {
  background-color: #1c1e1f;
  height: 450px;
  border-top: solid white 1px;
}

footer a {
  width: max-content;
  padding-right: 5px;
  transition: all 0.4s ease 0s;
}

footer h1,
footer p,
footer a {
  color: white;
}

footer ul li {
  margin: 20px;
}

footer a:hover {
  background: white;
  color: black;
}

/* Mettre le footer en mode flex */
footer {
  display: flex;
  justify-content: space-between;
}

/* Mettre les 3 clolone en flex-column */
footer .col1,
footer .col2,
footer .col3 {
  display: flex;
  flex-direction: column;
}

footer .col1 {
  justify-content: space-between;
  margin-left: 20px;
}

.logo-foot {
  margin-left: 0;
}

.logo-foot img {
  height: 100px;
  margin-left: 5px;
}

.google-map {
  margin-bottom: 20px;
  width: 350px;
  height: 350px;
  transition: all 0.4s ease 0s;
}

.google-map:hover {
  box-shadow: 0.5px 0.5px 15px 0.1px #ff8846;
}

footer .col3 {
  justify-content: space-between;
  margin-right: 20px;
}

.col3 li {
  list-style: none;
}

.carte-site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.carte-site a {
  display: inline-block;
}

.social a:visited {
  color: white;
}

.social a:visited:hover {
  color: black;
}

.social {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social svg {
  width: 30px;
  fill: white;
  padding: 5px;
}

.social path:hover {
  background: white;
  color: black;
}

@media screen and (max-width: 854px) {
  .carte-site,
  .social {
    display: none;
  }

  .social {
    position: absolute;
    left: 20px;
    top: 340px;
  }
}

@media screen and (max-width: 601px) {
  footer {
    height: 800px;
    flex-direction: column;
    align-items: center;
  }

  .col1 p {
    margin-bottom: -750px;
  }

.col2 {
  margin-top: 50px;
}

}
