/* Mettre le fond noir et le texte blanc */
footer {
  background-color: black;
  height: 500px;
}

footer h1,
p,
a {
  color: white;
}

footer ul li {
  margin: 20px;
}

footer a:hover {
  background: white;
  color: black;
}

/* Mettre le footer en mode flex */
footer {
  display: flex;
  justify-content: space-between;
}

/* Mettre les 3 clolone en flex-column */
footer .col1,
footer .col2,
footer .col3 {
  display: flex;
  flex-direction: column;
}

footer .col1 {
  justify-content: space-between;
}

.logo-foot {
  margin-left: 0;
}

.logo-foot img {
  height: 100px;
  margin-left: 5px;
}

.col1 p {
  margin-left: 20px;
}

footer .col2 {
  justify-content: space-between;
}

.google-map {
  margin-bottom: 20px;
}

footer .col3 {
  justify-content: space-between;
  margin-right: 20px;
}

.col3 li {
  list-style: none;
}

.carte-site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.social {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.social svg {
  width: 50px;
  fill: white;
}

.social a:hover {
  background: black;
  color: white;
}

body * {
  outline: red dotted 1px;
}