/* Mettre le fond noir et le texte blanc */
footer {
  background-color: black;
}

footer h1,
p,
a {
  color: white;
}

footer h1,
p {
  padding: 10px;
}

footer ul li {
    margin: 20px;
}

footer a:hover {
  background: white;
  color: black;
}

/* Mettre le footer en mode flex */
footer {
  display: flex;
  justify-content: space-between;
}

/* Mettre les 3 clolone en flex-column */
footer .col1, footer .col2, footer .col3 {
  display: flex;
  flex-direction: column;
}

.logo-foot img {
    height: 200px;
}
