/*---------main-----------*/

/* Slidershow */
.slidershow {
  position: relative;
  height: 368px;
  margin: -550px 80px 112px 80px;
  border-radius: 5px;
  border: black 3px solid;
}

/* Cache les images du slider par défaut */
.slides {
  display: none;
}

/* Sauf la première */
.slides:nth-of-type(1) {
  display: contents;
}

.slides img {
  height: 368px;
  transition: 1s all;
}
/* Bouttons précédent et suivant */
.precedent,
.suivant {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Positionne le boutton suivant sur la droite */
.suivant {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Sur le hover, ajoute un background noir avec un peu de transparence */
.precedent:hover,
.suivant:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Texte du caption */
.caption-container {
  display: flex;
  justify-content: center;
}

.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  /* margin-left: 43.2%; */
  width: max-content;
  background: #d85a16;
}


/* Style des points du slider */
.points {
  text-align: center;
}

.point {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0px 2px 0 2px;
  background-color: #d85a16;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.point:hover {
  background-color: #1c1e1f;
}

/* animation de type "fading" sur les images su slider */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Forfaits */
main {
  background: #1c1e1f;
  padding: 0px 80px 80px 80px;
  transition: all 0.4s ease 0s;
}

main > section {
  background: #414141;
  border-radius: 5px 5px 0 0;
}

.forfaits .forfait2,
.forfaits .forfait4 {
  flex-direction: row-reverse;
}

.forfaits > article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
  padding-bottom: 80px;
}

article > .forfaitTexte {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  align-items: center;
}

.forfaitTexte p {
  width: 75%;
  text-align: center;
}

.forfaits .prix {
  font-size: 2rem;
  width: max-content;
}

.forfaits .reserver {
  margin-top: -2.5%;
}

.forfaits .reserver a {
  font-size: 1.5rem;
}

.forfaits figure {
  display: flex;
  align-items: center;
}

.forfaits img {
  width: 506px;
  border-radius: 5px;
  height: 380px;
  transition: all 0.4s ease 0s;
}

.forfaits img:hover {
  box-shadow: 0.5px 0.5px 30px 0.1px #ff8846;
  transition: all 0.4s ease 0s;
}

@media screen and (max-width: 1201px) {
  .nav {
    padding-left: 0;
  }
}

  @media screen and (max-width: 1225px) {
    figure {
      margin: 0;
    }
  }

  @media screen and (max-width: 1086px) {
    .forfaits img {
      height: 270px;
      width: 405px;
    }
  }

  @media screen and (max-width: 1048px) {
    main > section {
      margin-top: -80px;
    }

    .forfaits h1 {
      transform: translateY(-480px);
    }

    .forfaits article {
      margin-top: -80px;
    }

    .forfaits h2 {
      margin-top: 20px;
      font-size: 1.5em;
    }
    .slidershow {
      display: none;
    }
    .forfaits img {
      height: 260px;
      width: 390px;
    }
  }

  @media screen and (max-width: 900px) {
    .forfaits article {
      flex-direction: column;
    }

    .forfaits figure {
      justify-content: center;
    }

    .forfaits h2 {
      margin-bottom: 20px;
    }

    .reserver {
      margin-bottom: 20px;
    }

  }

  @media screen and (max-width: 600px) {
    .forfaits img {
      height: 180px;
      width: 240px;
    }

    .forfaits h1 {
      font-size: 1.8rem;
    }

    .reserver a {
      font-size: 1.2rem !important;
    }
  }

  @media screen and (max-width: 518px) {
    .forfaits h1 {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 472px) {
    main {
      padding: 0px;
    }

    .forfaits .reserver a {
      padding: 0;
      font-size: 1.2rem;
    }
  }

